.gps-box {
    width: 1920px;
    height: 770px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.gps-title {
    /* Layout Properties */
    padding-top: 80px;
    margin-bottom: 80px;
    background: #F5F5F5 0% 0% no-repeat padding-box;

    /* UI Properties */
    text-align: center;
    font: normal normal 600 40px/48px Pretendard;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.gps-leftbox {
    /* Layout Properties */
    width: 415px;
    height: 410px;

    /* height: 50px; */
    margin-left: 390px;
    margin-right: 25px;
    
    /* UI Properties */
    /* background: #3A76FF 0% 0% no-repeat padding-box; */
    border: 1px solid #F5F5F5;
    opacity: 1;
    text-align: center;
}

/* .gps-box .row .col{
    flex: 0 0 !important;
} */

.gps-rightbox {
    /* Layout Properties */
    width: 700px;
    height: 410px;
    margin-right: 390px;

    /* UI Properties */
    opacity: 1;
    background-color: #555555;
}

.gps-box .gps-leftbox > table{
    /* Layout Properties */
    width: 414px;
}

.gps-box .gps-leftbox > table > tr > th{
    /* Layout Properties */
    width: 207px;
    height: 50px;

    /* UI Properties */
    background: #3A76FF 0% 0% no-repeat padding-box;
    border: 1px solid #F5F5F5;
    opacity: 1;

    font: normal normal 600 18px/21px Pretendard;
    letter-spacing: -0.45px;
    color: #FFFFFF;
}

.gps-box .gps-leftbox > table > tr > td{
    /* Layout Properties */
    width: 207px;
    height: 45px;
    
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F5F5F5;
    opacity: 1;

    font: normal normal normal 18px/21px Pretendard;
    letter-spacing: -0.45px;
    color: #555555;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.map-container{
    width: 100%;
    height: 100%;
}