/* 메인 화면 레이아웃 */
.main-box {
    /* Layout Properties */
    width: 1920px;
    height: 770px;

    /* UI Properties */
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    
    text-align: center;
}

/* 메인 화면 레이아웃 그룹 */
.main-wrapper{
    /* Layout Properties */
    /* 801+33+306 */
    /* width: 1140px; */
    /* 356+33+160 */
    /* height: 549px; */
    width: auto;
    height: 549px;
    margin-top: 115px;
    display: inline-block;

    /* UI Properties */
    /* background: #555555 0% 0% no-repeat padding-box; */ /* 레이아웃 그리드 확인용 임시 박스*/
    /* box-shadow: 8px 2px 62px #2233591A; */
    border-radius: 20px;
    opacity: 1;
    
    text-align: center;
}

/* 메인 좌측 그룹 */
.main-left-group{
    margin-right: 33px;
}

/* 메인 우측 그룹 */
.main-right-group{

}

.main-left-group .row{
    --bs-gutter-x: 0rem;
}

/* 메인 선박 박스 */
.main-lt-box{
    /* Layout Properties */
    width: 801px;
    height: 356px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 2px 62px #2233591A;
    border-radius: 20px;
    opacity: 1;
}

.main-lt-box > a{
    /* Layout Properties */
    top: 245px;
    left: 415px;
    position: fixed;
    
    /* Text Settings */
    text-align: left;
    font: normal normal bold 25px/30px Pretendard;
    letter-spacing: -0.63px;
    color: #000000;
    opacity: 1;
}


.main-lt-box > img{
    /* Layout Properties */
    position: fixed;

    /* UI Properties */
    opacity: 1;
}

.main-lt-box > .ship-image{
    /* Layout Properties */
    width: 557px;
    height: 213px;
    top: 344px;
    left: 579px;
}

.main-lt-box > .line1-image{
    /* Layout Properties */
    top: 360px;
    left: 616px;
    width: 80px;
    height: 19px;
}

.main-lt-box > .line2-image{
    /* Layout Properties */
    top: 470px;
    left: 500px;
    width: 148px;
    height: 24px;
}

.main-lt-box > .line3-image{
    /* Layout Properties */
    top: 370px;
    left: 782px;
    width: 92px;
    height: 13px;
}

.main-lt-box > button{
    /* UI Properties */
    border: none;
    background-color: #00000000;
}

.main-lt-box > button > img{
    /* Layout Properties */
    width: 80px;
    height: 80px;
    position: fixed;
}

.main-lt-box > button > .sensor1-image{
    /* Layout Properties */
    top: 314px;
    left: 534px;
}

.main-lt-box > button > .sensor2-image{
    /* Layout Properties */
    top: 423px;
    left: 447px;
}

.main-lt-box > button > .sensor3-image{
    /* Layout Properties */
    top: 320px;
    left: 873px;
}



/* 좌측 박스 그룹 */
.main-lb-box-wrapper{
    display: flex !important;
    /* flex-wrap: wrap; */
}

/* 좌측 박스 센서 객체 */
.main-lb-box-sensor{
    /* Layout Properties */
    width: 246px !important;
    height: 160px;
    margin-top: 33px !important;
    margin-right: 31px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 2px 62px #2233591A;
    border-radius: 20px;
    opacity: 1;
}

.main-lb-box-sensor :focus{
    border: 2px solid #3A76FF;
}

.main-lb-box-sensor > .row > .col{
    /* Layout Properties */
    width: 144px !important;
    flex: 0 0 !important;
}

.main-lb-box-sensor > .row > .col > .row {
    width: 144px;    
}

.main-lb-box-sensor > .row > .col > .row > a{
    /* Layout Properties */
    width: 144px;
    max-width: 10ch;
    overflow: hidden;
    
    /* Text Settings */
    text-decoration: none;
    text-overflow: ellipsis;
}

.main-lb-box-sensor .text-sensor-name{
    /* Layout Properties */
    margin-top: 26px;
    margin-left: 26px;

    /* Text Settings */
    text-align: left;
    font: normal normal bold 15px/18px Pretendard;
    letter-spacing: -0.38px;
    color: #3A76FF;
    opacity: 1;
}

.main-lb-box-sensor .text-sensor-data{
    /* Layout Properties */
    margin-top: 10px;
    margin-left: 26px;

    /* Text Settings */
    text-align: left;
    font: normal normal 600 24px/29px Pretendard;
    letter-spacing: -0.6px;
    color: #333333;
    opacity: 1;
}

.main-lb-box-sensor > .row > img{
    /* Layout Properties */
    width: 80px;
    height: 80px;
    margin-top: 58px;
    margin-right: 22px;   
}

.main-r-box-wrapper{
    display: flex !important;
}

.main-r-box-cctv{
    /* Layout Properties */
    width: 306px;
    height: 200px;
    margin-bottom: 32px;

    /* UI Properties */
    border-radius: 20px;
    opacity: 1;
}

.bg-cctv1{
    /* top: 200px;
    left: 1224px; */
    background: #3A76FF 0% 0% no-repeat padding-box;
}

.bg-cctv2{
    /* top: 432px;
    left: 1224px; */
    background: #012A85 0% 0% no-repeat padding-box;
}

.main-r-box-cctv > .col > .row > button{
    height: 100%;
}

.main-r-box-cctv > .col > .row > a{
    /* Layout Properties */
    width: auto;
    margin-top: 35px;
    margin-left: 35px;

    /* UI Properties */
    text-align: left;
    font: normal normal medium 19px/23px Pretendard !important;
    letter-spacing: -0.47px !important;
    color: #FFFFFF !important;
    opacity: 1;
}

.main-r-box-cctv > .col > .row > button{
    /* UI Properties */
    text-align: end;
    border: none;
    background-color: #00000000;
}

.main-r-box-cctv > .col > .row > button > img{
    /* Layout Properties */
    margin-right: 22px;
    margin-bottom: 24px;
    width: 77px !important;
    height: 76px !important;
}


.main-r-box-gps-check{
    /* Layout Properties */
    width: 306px;
    height: 84px;

    /* UI Properties */
    background: #D9DDE2 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;

    /* Text Settings */
    text-align: left;
    font: normal normal bold 21px/25px Pretendard;
    letter-spacing: -0.53px;
    color: #000000;
}

.main-r-box-gps-check > .row {
    width: 100%;
}

.main-r-box-gps-check > .row > a{
    /* Layout Properties */
    width: 201px !important;
    height: 25px !important;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 34px;
}

.main-r-box-gps-check > .row > button {
    /* Layout Properties */
    width: 39px !important;
    height: 39px !important;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-right: 22px;

    /* padding-left: 131px !important; */
    padding-left: 20px !important;
    border: none;
    background-color: #00000000;
}

.pull-test{
    
}